/**
 * index.scss
 * - Add any styles you want here!
 */

 a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration:none
}


body {
	margin: 0;
	overflow-x: hidden;
  background-color: white;
}


.no-pointer {
	  pointer-events: none;
}


/*Thos controls the menu*/

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 18.2%;
  height: 100%;
  background-color: #222222;
}
.tme-menu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}

.menu-line {
	display: flex;
	align-self: center;
	width: 80%;
	height: 1px;
	background-color: #FFDF00;
}

.tme-menu-header {
	text-align: center;
	color: 	#FFDF00;
	font-size: 2vw;
}

.menu-sub-header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}

.menu-sub-header-text {
	text-align: center;
	color: white;
	font-size: 1vw;
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  margin-top: 0%;

}

.menu-box {
	display: flex;
	padding: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

.menu-box:hover {
	background-color: #FFDF00;
}

.menu-box-text {
	color: white;
	font-size: 1.5vw;
}

.sub-menu-tme {
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 64%;
	margin-left: 100%;
	width: 100%;
	background-color: #222222;

}

.sub-menu-blueprint {
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 106.8%;
	margin-left: 100%;
	width: 100%;
	background-color: #222222;
}

.sub-menu-advocates {
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 85%;
	margin-top: 87%;
	margin-left: 100%;
	width: 100%;
	background-color: #222222;
}

.sub-menu-media {
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 80%;
	margin-left: 100%;
	width: 100%;
	background-color: #222222;
}

.sub-menu-enlist {
	position: absolute;
	display: none;
	flex-direction: column;
	margin-top: 170%;
	margin-left: 100%;
	width: 100%;
	background-color: #222222;
}

.sub-menu-box {
	display: flex;
	padding: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

.sub-menu-box:hover {
	background-color: #FFDF00;
}




.sub-menu-text {
	text-align: center;
	color: white;
	font-size: 1.5vw;
}
/*End of menu controls*/




/*These control the main content*/
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 84%;
	margin-left: 16%;
	background-color: 	#FFDF00;

}

.tester-main-content {
	display: flex;
	width: 81.8%;
	margin-left: 18.2%;
	margin-top: -6%;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;


}



/*.tester-main-content {
	position: absolute;
	display: flex;
	width: 84%;
	margin-left: 18%;
	margin-top: -6%;
	flex-direction: column;
	z-index: -3;


}*/

.community-main-content {
	display: flex;
	width: 84%;
	margin-left: 18%;
	margin-top: -1%;
	flex-direction: column;


}

.tester-header {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 10%;
/*	background-color: green;*/
}

.header-line-ntf {
	height: 0.2em;
	width: 120%;
	margin-top: 9%;
}

.header-line {
	height: 0.2em;
	width: 120%;
	margin-top: 2%;
}

.social {
	color: green;
	margin-left: 7%;
		font-family: helvetica;
}

.podcast-container {
	margin-top: -10%;
	margin-left: -11%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 81.8%;

	
}

.line { 
	height: 13em;
	width: 0.1em;
	margin-left: 5%;
	margin-top: -10%;
	background-color: #FFDF00;
}

.header-ntf {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 81.8%;
	margin-top: 8%;
	margin-left: 18.2%;
	/*background-color: pink;*/


}

/*.header-ntf {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	width: 100%;
	margin-top: 10%;
	margin-left: 3%;
	background-color: green;

}*/

.tune-in-container {
	width: 15%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-top: -11%;
	margin-left: 0%;
/*	background-color: blue;*/
	 border: 4px solid #FFDF00;


}

.podcast-img {
	position: absolute;
	width: 30%;
	height: 30%;
	margin-top: 1%;
	margin-left: 42%;
}


.pledge {
	align-self: center;
	margin-top: -20%;
	margin-left: 25%;
	width: 135%;
	height: 100%;
}

.tester-content-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	width: 80%;
	margin-top: 20%;
}


/*.tester-content-text {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 15%;
	margin-top: 20%;
	margin-left: 7%;
	background-color: yellow;
}*/


.ntf-content-text {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 25%;
	margin-left: 7%;
	/*background-color: yellow;
*/}

.tester-text-header {
	font-size: 2vw;
	padding: 0;
	margin: 0;
	color: blue;
}

.tune-in {
	margin-left: 0%;
	font-size: 1vw;

}

.img-content-container {
	display: inline-flex;
	align-content: flex-end;
	align-items: flex-end;
	width: 100%;
}

.ntf-img {
	margin-top: -10%;
	width: 50%;
	height: 50%;
	
}


.tester-text {
	font-size: 1.5vw;
	text-align: left;
	margin-top: 3%;
	padding-top: 0;
}

.families-img {
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.main-content-border {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 90%;
    margin-top: 1%;
    background-color: #D1F0CE;
    
}

.main-h1-container {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	width: 81.8%;
	margin-left: 18.2%;
	margin-top: 2%;
/*	margin-top: -44%;*/
}

.tower {
margin-left: 2%;

	width: 50%;
	height: 60%;
}

.main-content-h1 {
	color: blue;
	font-size: 3vw;
}

#p-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-top: 7%;

	width: 80%;

}

#p-1 {
	margin-top: 3%;
	text-align: left;
	font-size: 1.5vw;
	color: black;
}

/*These classes are used to color words in the main-content*/

.blue {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}

/*End of coloring selectors*/

.main-content-videos {

}

.game-vid {
	display: flex;
	justify-content: center;
	position: relative;
	width: 84%;
	margin-left: 18%;
	margin-top: 0%;
	/*background-color: green;*/
}

.video-page-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin-left: 0%;
	background-color: black;

}

.video-fullscreen {
	position:fixed; 
	top:0px;
	left:0px; 
	bottom:0px;
	right:0px; 
	width:100%; 
	height:100%; 
	border:none; 
	margin:0; 
	padding:0; 
	overflow:hidden; 
	z-index:999999;
}

.game.changer.video {

}


.video-slider-circles {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	width: 86%;
	height: 1em;
	margin-top: 47%;
	position: absolute;

}

/*This class controls the video slider circles*/

.circle {
  background: transparent;
  border-style: solid;
   border-width: 1px;
  border-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 0.5%;

}

/*This container is a flex box for the elements at the bottom of the main content*/
.enlist-footer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.enlist-nav-line {
	position: relative;
	width: 100%;
	height: 0.3em;
	background-color: blue;
	margin-bottom: 2%;
}

.enlist-nav-container {
	display: inline-flex;
	justify-content: space-between;
	width: 95%;
	margin-bottom: 1%;
}

.nav-word-button {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	color: black;
	font-size: 2.5vw;

	margin-left: 3%;
}

.nav-word {
	font-size: 2vw;
	font-weight: bold;
}

.green-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-left: 3%;

	height: 100%;
	width: 20%;
}

.green-button {
	width: 100%;
	height: 75%;
	background-color: green;
}

.green-container {
	height: 50%;
	width: 20%;
	display: flex;
	justify-content: center;
	background-color: black;
}

.green-button-sub {
	position: relative;
	margin-top: -37%;
	margin-left: 1.5%;
	color: black;
	font-size: 1.8vw;
}

.green-button-enlist {
	position: absolute;
	margin-top: -0.05%;
	color: white;
	font-size: 1.8vw;
}



/*This controls the directive.html subpage*/
.directive-parent-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-top: -45%;
	width: 100%;
}

.game-changer-h1 {
	color: orange;
	font-size: 2vw;
}



.directive-header-container {
	display: inline-flex;
	align-items: center;
	align-content: center;
	width: 100%;
	margin-top: 0%;
}

.directive-header-container-clone {
	display: inline-flex;
	align-items: center;
	align-content: center;
	width: 100%;
	margin-top: 60%;
}

#p-1-directive {
	margin-left: 1.5%;
	margin-top: -3%;
	font-size: 1.8vw;
	text-align: justify;
	color: black;
	max-width: 47%;

}

/.small-img-container {
	display: flex;
	justify-content: center;
	width: 100%;

}



.header-cover {
	display: flex;
	width: 84%;
	margin-left: 18%;
	justify-content: center;
}

.directive-img {
	height: 50%;
	width: 50%;
}

.header-page-img {
	width: 50%;
	height: 50%;
}

.advocates-header-page-img {
	width: 60%;
	height: 60%;
}

#p-container-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin-top: -50%;
	width: 80%;

}
/*end of directive page*/



/*This controls the ntf.html page*/

#main-content-h1 {
	color: orange;
	font-size: 2vw;

}

/**/




/*This controls subpage tabs*/

.comming-soon {
	margin-left: 0%;
	color: red;
	font-size: 3vw;

}